/piro/notebooks/.ipynb_checkpoints/

# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
*.egg-info/

# dependencies
web/frontend/node_modules
web/frontend/.pnp
web/frontend/.pnp.js

# testing
web/frontend/coverage

# production
web/frontend/build
