# python API
fastapi
uvicorn
pydantic[dotenv]

# for serving react
aiofiles  # static files

# piro module
matminer==0.7.3
scikit-learn==0.24.2
plotly==5.1.0
pymongo==3.11.4

# background tasks
celery[redis]
flower