.PageContent{
    display: flex;
    width: 1440px;
    padding: 0px 160px 40px 160px;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.AboutHeader{
    align-self: stretch;
    color: var(--grey-900, #212121);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    /* header/h2 */
    font-family: Gellix;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px; /* 123.529% */
}
.AboutContent{
    align-self: stretch;
    color: var(--grey-900, #212121);
    font-feature-settings: 'clig' off, 'liga' off;

    /* body/body 1-regular */
    font-family: Gellix;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.15px;
}
.Titles{
    align-self: stretch;
    color: var(--grey-900, #212121);
    font-feature-settings: 'clig' off, 'liga' off;

    /* header/h4 */
    font-family: Gellix;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1px;
    margin-top: 35px; /* Adjust top margin */
    margin-bottom: 10px;
}
.TitlesContent{
    align-self: stretch;
    color: var(--grey-900, #212121);
    font-feature-settings: 'clig' off, 'liga' off;

    /* body/body 1-regular */
    font-family: Gellix;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.15px;
}
.highlighted {
  border: 3px #ccc;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2),
              0px -6px 8px rgba(0, 0, 0, 0.2),
              6px 0px 8px rgba(0, 0, 0, 0.2),
              -6px 0px 8px rgba(0, 0, 0, 0.2);
  transition:  box-shadow 0.3s;
  padding: 10px;
}