.PageContent{
    width: 1440px;
    height: 762px;
    top: 112px;
    padding-top: 0px;
    padding-right: 160px;
    padding-bottom: 40px;
    padding-left: 160px;
    gap: 40px;
}

.breadcrumbs{
    width: 157px;
    height: 24px;
}
.AboutHeader{
    align-self: stretch;
    width: 1120px;
    height: 42px;
    color: var(--grey-900, #212121);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    /* header/h2 */
    font-family: Gellix;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px; /* 123.529% */
}
.AboutContent{
    align-self: stretch;
    width: 1120px;
    height: 192px;
    color: var(--grey-900, #212121);
    font-feature-settings: 'clig' off, 'liga' off;

    /* body/body 1-regular */
    font-family: Gellix;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.15px;
}
.Titles{
    width: 1120px;
    height: 32px;
    align-self: stretch;
    color: var(--grey-900, #212121);
    font-feature-settings: 'clig' off, 'liga' off;

    /* header/h4 */
    font-family: Gellix;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    font-size: 20px;
}
.TitlesContent{
    width: 1120px;
    height: 48px;
    align-self: stretch;
    color: var(--grey-900, #212121);
    font-feature-settings: 'clig' off, 'liga' off;

    /* body/body 1-regular */
    font-family: Gellix;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.15px;
}
.highlighted {
  width: 1120px;
  height: 104px;
  top: 626px;
  left: 152px;
  border-radius: 10px;
  padding-bottom:8px;
  padding-left:8px;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px 0px #757575;
}
.contents{

}