.firstblock{
    display: flex;
    padding: 80px 160px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    background: var(--white, #FFF);
}
.piroheader{
    color: var(--grey-900, #212121);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Gellix-Regular;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
}
.firstblockbody{
    color: var(--grey-900, #212121);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Gellix-Regular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.15px;
}
.signinbutton{
    display: flex;
    width: 218px;
    height: 44px;
    padding: 10px 18px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: var(--grey-900, #212121);
    box-shadow: 0px 2px 4px -2px rgba(33, 33, 33, 0.20), 0px 4px 6px -1px rgba(33, 33, 33, 0.20);
}
.signincontent{
    color: var(--white, #FFF);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Gellix-Regular;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
}
.secondblock{
    display: flex;
    padding: 40px 160px;
    align-items: flex-start;
    gap: 40px;
    align-self: stretch;
    background: var(--grey-100, #F5F5F5);
}
.donthavesignin{
    color: var(--grey-900, #212121);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Gellix-Regular;
    font-size: 12px;
    margin-top: -30px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 166.667% */
    letter-spacing: 0.2px;
    align-self: stretch;
}
.requestsignin{
    font-style: italic;
    font-weight: 400;
    text-decoration-line: underline;
}
.secondblockheader{
    color: var(--grey-900, #212121);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Gellix-Medium;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 160% */
}
.secondblockcontent{
    color: var(--grey-900, #212121);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Gellix-Regular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.15px;
    align-self: stretch;
}
.secondblockmargin{
    margin-top: 13px;
}
.thirdblock{
    display: flex;
    padding: 40px 160px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}
.thirdblockheader{
    color: var(--grey-900, #212121);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Gellix-Medium;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 160% */
}
.thirdblockcontent{
    color: var(--grey-900, #212121);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Gellix-Regular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.15px;
}
.mailstyle{
    color: var(--info-dark, #0288D1);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Gellix-Regular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.15px;
    text-decoration-line: underline;
}
