.AppHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.AppHeader h1 {
    color: #2c2c35;
    font-size: 30px;
}
.Footer p {
    display: inline-block;
    margin: 16px 0;
    padding: 0 8px;
    border-right: solid 1px #c6c6d1;
}