server {
    listen 80;
    server_name localhost;

    location / {
        root   /usr/share/nginx/html;
        index  index.html index.htm;
        try_files $uri $uri/ /index.html;
    }

    location = /api/recommend_routes {
        proxy_pass ${SYNC_API_ROOT}/api/recommend_routes;
    }

    location /api {
	    proxy_pass http://${BACKEND_HOST}:${BACKEND_PORT}/api;
	}

	location /flower {
	    proxy_pass http://${FLOWER_HOST}:${FLOWER_PORT}/flower;
	}
}